<template>
  <div class="wrapper">
    <div v-if="info.length > 0">
      <form class="cart table-wrap small--hide">
        <table class="cart-table full table--responsive">
          <thead class="cart__row cart__header-labels">
            <th colspan="2" class="text-center">Thông tin chi tiết sản phẩm</th>
            <th class="text-center">Đơn giá</th>
            <th class="text-center">Số lượng</th>
            <th class="text-right" style="padding-right: 45px;">Tổng giá</th>
          </thead>

          <tbody>
            <tr
              v-for="item in info"
              v-bind:key="item.id"
              class="cart__row table__section"
            >
              <td>
                <div v-if="item.variant.images == null" class="cart__image">
                  <img :src="img" />
                </div>
                <div v-else>
                  <img :src="item.variant.images[0].source" />
                </div>
              </td>
              <td>
                <h5
                  class="h4"
                  style="font-weight: bold;margin-bottom: 5px;margin-top: 0;"
                >
                  {{ item.variant.product.name }}
                </h5>
                <br />
                <small>{{ item.variant.name }}</small>
              </td>
              <td class="text-center">
                <span class="h3">
                  {{ formatPrice(item.variant.product.minPrice) }} đ
                </span>
              </td>
              <td style="padding-top:20px;">
                <input v-if="quanlity == null"
                  type="number"
                  @change="getabc()"
                  v-model="item.quantity"
                  name="updates[]"
                  min="0"
                  :max="max"
                />
                <input v-else
                  type="number"
                  @change="getabc()"
                  v-model="quanlity"
                  name="updates[]"
                  min="0"
                  :max="max"
                />
              </td>
              <td class="text-right" style="padding-right:0">
                <span v-if="quanlity == null"
                  >{{
                    formatPrice(item.quantity * item.variant.product.minPrice)
                  }}đ</span
                >
                <span v-else
                  >{{
                    formatPrice(quanlity * item.variant.product.minPrice)
                  }}đ</span
                >
                <a href="#" class="cart__remove cart_item">
                  <small></small>
                </a>

                <span class="cart-item__discount"></span>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="grid cart__row">
          <div class="grid__item " style="text-align: right;">
            <router-link to="/checkout">
              <button class="btn">Thanh toán</button>
            </router-link>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
<style>
.grid__item {
  box-sizing: border-box;
  float: left;
  min-height: 1px;
  padding-left: 30px;
  vertical-align: top;
}
.grid__item_65 {
  width: 65%;
}
.grid__item_35 {
  width: 35%;
}
table.full {
  width: 100%;
  margin-bottom: 1em;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.cart__row {
  position: relative;
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #ccc;
}
.cart__row img {
  max-width: 120px;
  margin: auto;
}
.cart-table td,
th {
  padding: 30px 15px;
  border: none;
}
textarea.input-full {
  width: 100%;
  min-height: 100px;
  border: 1px solid;
  max-width: 100%;
  padding: 8px 10px;
}
.btn {
  display: inline-block;
  padding: 8px 30px;
  width: auto;
  margin: 0;
  line-height: 1.42;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  border: 1px solid transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 30px;
  background-color: #ec722d;
  color: #fff;
}
</style>
<script>
import { HTTP } from "../httpService/http-common";
import { EventBus } from "../event-bus";
export default {
  name: "Cart",
  data() {
    return {
      info: { type: Object, default: () => ({}) },
      img: null,
      variantId: 1014845019,
      shopId: "1a440ae6-d281-4967-a4df-55aaafcb184f",
      shopDomain: "suplo-cafe.myharavan.com",
      tokenCart: "",
      quanlity: null,
      max:null
    };
  },

  created() {
    this.getCart();
    this.getabc();
  },
  methods: {
    formatPrice(value) {
      let val = (value / 1).toFixed(0).replace(".", ",");
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    },
    async getCart() {
      var tokenCart = localStorage.getItem("token");
      console.log(tokenCart);
      
      await HTTP.get("/cart" + "?token=" + tokenCart).then(data => {
        this.info = data.data.cart.items;
        for (var i = 0; i < data.data.cart.items.length; i++) {
          this.img = data.data.cart.items[i].variant.product.images[0].source;
          this.quanlity = data.data.cart.items[i].quantity;
          this.max = data.data.cart.items[i].variant.inventoryQuantity;
          console.log(this.info);
          
        }
      });
      return;
    },
    async getabc() {
      
      var tokenCart = localStorage.getItem("token");
      if(this.quanlity){
        var quanlity = Number(this.quanlity);
         console.log(quanlity);
      }
      
     if(this.quanlity){
      await HTTP.put("/cart/items/" + this.variantId + "?token=" + tokenCart,{
        quantity : quanlity
      }).then(data => {

      });
      return;
     }
    },
  }
};
</script>
