<template>
  <div class="wrapper">
    <div class="inner">
      <div class="grid__item grid__item_50">
         <carousel v-for="image in img" v-bind:key="image.id">
          <img  :src="image" />
        </carousel>
      </div>
      <div class="grid__item grid__item_50">
        <div class="pro-content-head clearfix">
          <h1>{{ info.title }}</h1>
          <div class="pro-brand">
            <span class="title">Thương hiệu: {{ info.vendor }}</span>
          </div>
          <span>|</span>
          <div class="pro-type">
            <span class="title">Loại: {{ info.type }}</span>
          </div>
        </div>
        <div class="pro-price clearfix">
          <span class="current-price ProductPrice"
            >{{ formatPrice(info.minPrice) }} đ</span
          >
          <span
            v-if="info.compareAtMaxPrice > info.minPrice"
            class="original-price ComparePrice"
            ><s>{{ formatPrice(info.compareAtMaxPrice) }} đ</s></span
          >
        </div>

        <div class="pro-short-desc">
          {{ info.description | truncate(180, "...") }}
        </div>
        <button
          class="btn_product"
          @click="TestAxios()"
          v-on:click="showDialogProduct = true"
        >
          Thêm vào giỏ hàng
        </button>
        <md-dialog :md-active.sync="showDialogProduct">
          <div class="popup_pro">
            <img v-if="checkImg == true" :src="successSvg" />
            <img v-else :src="errorSvg" />
            <h3>{{ textPopup }}</h3>
            <div v-if="checkImg == true">
              <router-link to="/cart">
                <button class="btn_addProduct">Đi tới giỏ hàng của tôi</button>
              </router-link>
            </div>

            <span class="close_btn" @click="showDialogProduct = false"
              >&times;</span
            >
          </div>
        </md-dialog>
      </div>
    </div>
  </div>
</template>
<style>
.inner {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: -30px;
}
.grid__item {
  box-sizing: border-box;
  float: left;
  min-height: 1px;
  padding-left: 30px;
  vertical-align: top;
}
.grid__item_50 {
  width: 50% !important;;
}
img {
  max-width: 460px;
}
.pro-brand {
  display: inline-block;
}
.pro-brand span {
  display: inline-block;
}
.pro-type {
  display: inline-block;
}
.pro-content-head {
  margin-bottom: 20px;
}
.pro-short-desc {
  margin-top: 20px;
  margin-bottom: 20px;
}
span.current-price {
  font-size: 25px;
  font-weight: bold;
  color: #ec722d;
}
span.original-price {
  margin-left: 13px;
  opacity: 0.6;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}
.btn_addProduct {
  padding: 10px 50px;
  background: #ec722d;
  color: #fff;
  border: 1px solid #ec722d;
  border-radius: 30px;
}
.btn_product {
  background: #ec722d;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
}
.popup_pro {
  background: #fff;
  padding: 20px;
  text-align: center;
  position: relative;
  border-radius: 30px
}
.popup_pro h3 {
  font-size: 20px;
}
.md-dialog {
  border-radius: 30px;
}
.close_btn {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  background: #777;
  color: #fff;
  text-align: center;
  font-size: 22px;
  border-radius: 50%;
}
</style>
<script>
import { HTTP } from "../httpService/http-common";
import carousel from "vue-owl-carousel";
import { EventBus } from "../event-bus";
import successSvg from "../assets/check-circle.svg";
import errorSvg from "../assets/x-octagon.svg";
export default {
  name: "Product",
  components: { carousel },
  data() {
    return {
      info: { type: Object, default: () => ({}) },
      img: null,
      showDialogProduct: false,
      textPopup: "",
      successSvg: successSvg,
      errorSvg: errorSvg,
      checkImg: false,
      pid: "f3bc9453-292f-4be9-b98b-307a6b056f5b",
      variantId: 1014845019,
      shopId: "1a440ae6-d281-4967-a4df-55aaafcb184f",
      shopDomain: "suplo-cafe.myharavan.com",
      token: ""
    };
  },

  created() {
    this.getProduct();
  },
  methods: {
    async getProduct() {
      await HTTP.get("/shops/" + this.shopId + "/products/" + this.pid).then(
        data => {
          this.info = data.data;
          this.img = data.data.images;
          console.log(this.info);
        }
      );
      return;
    },
    formatPrice(value) {
      let val = (value / 1).toFixed(0).replace(".", ",");
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    },
    async TestAxios() {
      var tokenCart = localStorage.getItem("token");
      console.log(tokenCart);
      if (!tokenCart) {
        await HTTP.post("/cart" + "?domain=" + this.shopDomain, {
          variantId: this.variantId,
          quantity: 1
        })
          .then(data => {
            this.token = data.data.token;
            console.log();
            var website = localStorage.setItem("token", this.token);
            console.log(website);
            EventBus.$emit("TestAxios", this.token);
            this.checkImg = true;
            this.textPopup = "Thêm sản phẩm vào giỏ hàng thành công";
          })
          .catch(function(error) {
            console.log(error);
            this.checkImg = false;
            this.textPopup = "Thêm sản phẩm thất bại, vui lòng thử lại";
          });
        return;
      } else {
        await HTTP.post(
          "/cart" + "?domain=" + this.shopDomain + "&token=" + tokenCart,
          {
            variantId: this.variantId,
            quantity: 1
          }
        )
          .then(data => {
            this.token = data.data.token;
            console.log();
            var website = localStorage.setItem("token", this.token);
            console.log(website);
            EventBus.$emit("TestAxios", this.token);
            this.checkImg = true;
            this.textPopup = "Thêm sản phẩm vào giỏ hàng thành công";
          })
          .catch(function(error) {
            console.log(error);
            this.checkImg = false;
            this.textPopup = "Thêm sản phẩm thất bại, vui lòng thử lại";
          });
        return;
      }
    }
  }
};
</script>
