<template>
  <div id="app">
    <div>
      <Checkout />
      <router-view></router-view>
    </div>
     
  </div>
</template>

<script>
import Checkout from "./components/Checkout";
import ThankYou from "./components/ThankYou";
export default {
  name: "App",
  components: {
    Checkout,
    ThankYou
  }
};
</script>

<style>
#mytabs{
			margin-top: 30px;
			margin-bottom: 30px;
			}
			body{
				font-family: 'Roboto', sans-serif;
				background: #fff;
			}
			a:not(.md-button):hover{
				text-decoration: none;
			}
			select{
				padding: 0 20px;
			}
			h1,h2,h3,h4,h5,h6{
    		display: block;
    		font-size: 1.17em;
    		margin-block-start: 1em;
    		margin-block-end: 1em;
    		margin-inline-start: 0px;
    		margin-inline-end: 0px;
    		font-weight: bold;
		 		margin-bottom: 10px !important;
				font-family: 'Roboto', sans-serif;
			}
			p {
				display: block;
				margin-block-start: 1em;
				margin-block-end: 1em;
				margin-inline-start: 0px;
				margin-inline-end: 0px;
				font-family: 'Roboto', sans-serif;
			}
		
      .tinytabs .tabs {
        display: flex;
        align-items: center;
        justify-content: space-around;
        background: #EC722D;
        border-radius:20px;
        margin-bottom:30px
      }
      .tinytabs .tabs a{
        text-decoration: none;
      }
      a.tab{
        background: #EC722D;
        color: #fff;
        width: 50%;
        border-radius:20px;
        padding: 5px 15px;
				 text-align: center;
      }
      a.tab.sel{
        background: #fff;
        color: #EC722D;
        border: 2px solid #EC722D;
      }
      .reset-input {
        font-size: 15px;
        padding: 10px 15px;
        box-shadow: none;
        border: 1px solid #ccc;
        width: 100%;
        outline: none;
        background: #eeedf0;
        color: #7b7b7b;
        border-radius:30px;
        height: 45px;
        margin-right: 10px;
      }
      .reset-input::placeholder {
        color: #999;
      }
      .v-reset-input {
          top: 13px;
          right: 15px;
          line-height: 20px;
          font-size: 15px;
          color: #fff !important;
          width: 20px;
          height: 20px;
          padding-left: 5px;
          background: #9c9c9c;
          display: none;
          border-radius: 50%;
          
      }

      .v-reset-input.v-reset-input-active {
        display: block;
      }
</style>
